{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>Signup</title>
    <style>
        body{
           font-weight: 500;
        }
        fieldset{
            border:none;
        }
    </style>
</head>
<body>
        <div style="max-width:500px; margin:2em auto;">
            <form action="" method="POST">
                {% csrf_token %}
                <section class="copy">
                    <h2>Delete Post</h2>
                </section>
                <fieldset>
                    <h2>Are you sure you want to delete the post "{{object.title}}"</h2>
                </fieldset>
                <button class="singup-btn" type="submit">Yes</button>
                <a class="singup-btn" href="{% url 'post-detail' object.id %}">No</button>
            </form>
        </div>
    </div>
</body>
</html>